.input-label{
    line-height: 34px;
    text-align: right;
}

.iv-label{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.iv-table {
    width : 80%!important;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

body {
    height : 100%!important;
}

.pokemon-result-message{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}